@import-normalize; /* bring in normalize.css styles */
:root {
  --text-color--: rgb(251, 251, 251);
  --main-color--: rgb(16, 57, 49);
  --paragraph-color--: rgba(17, 16, 28, 0.5);
  --span-color--: rgb(17, 16, 28);
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
